
h2 {
    margin: 0;
}
.services {
    display: grid;
    /* grid-template-columns: repeat(3, 33.33%); */
    grid-template-columns: 50% repeat(2, 25%);

    /* grid-template-columns: repeat(10, 10%); */
    /* grid-template-columns: repeat(12, 8.33%); */
    grid-template-rows: repeat(2, 50%);
    /* grid-template-rows: 50% repeat(2, 25%); */

    /* shorthand */
    grid: repeat(2, 50%) / 50% repeat(2, 25%);

    border: 3px solid black;
    height: 300px;
}

.service {
    color: white;
    text-align: center;
}

.service-1 {
    background-color: darkviolet;

    grid-column: 1 / span 3;
}

.service-2 {
    background-color: limegreen;
}
.service-3 {
    background-color: teal;
}